
{% if tulokset %}
    <h2>{{ tulokset.sarja.nimi }}</h2>
    <table>
        <tr><!-- tehtävien nimet -->
            <td></td>
            <td></td>
            <td></td>
            <td><br/><br/>{{tulokset.yhtPist}}</td>
        {% for teht in tulokset.tehtavat %}
            <td> <b>{{teht.jarjestysnro}}. <br/> {{ teht.nimi }}</b> <br/> {{ teht.makspisteet }} </td>
        {% endfor %}
        </tr>

        <tr><!-- otsikkorivi -->
            <th>SIJ</th>
            <th></th>
            <th>VARTIO</th>
            <th>YHT</th>
        {% for teht in tulokset.tehtavat %}
            <td> </td>
        {% endfor %}
        </tr>

        {% for vart in tulokset.mukana %}
            <tr id="{% cycle 'odd' 'even' %}"><!-- vartiorivit -->
            <td>{{ vart.sijoitus }}{% if vart.tasap %}!{% endif %}</td>
            <td>{{ vart.vartio.nro }}</td>
            <td>{{ vart.vartio.nimi }}</td>
            <td>{{ vart.pisteet }}</td>
            {% for pist in vart.tPist %}
            <td>{{pist}}</td>
            {% endfor %}
        </tr>{% endfor %}

       {% if tulokset.ulkona and tulokset.ulkona|length > 0 %}
       <tr>
           <td></td>
           <td></td>
           <td>Ulkopuolella</td>
       </tr>

        {% for vart in tulokset.ulkona %}
            <tr id="{% cycle 'odd' 'even' %}"><!-- vartiorivit -->
            <td>{{ vart.sijoitus }}{% if vart.tasap %}!{% endif %}</td>
            <td>{{ vart.vartio.nro }}</td>
            <td>{{ vart.vartio.nimi }}</td>
            <td>{{ vart.pisteet }}</td>
            {% for pist in vart.tPist %}
            <td>{{pist}}</td>
            {% endfor %}
        </tr>{% endfor %}
        {% endif %}


    </table>
{% endif %}


