{% extends "tupa/base.html" %}

{% block title %}{{ heading }}{% endblock %}

{% block content %} 


    <!--h1>{{ heading }}</h1-->
    {% if kisa %}
    <h1>{{ kisa.nimi }}</h1><p> {{ kisa.aika }} {{ kisa.paikka }} </p>
    {% endif%}
    {% if sarjat and tulokset|length == 1 %}
        <ul id="sarjatabs" class="shadetabs">
        {% for sarja in sarjat %}
          <li><a href="{% url 'tulosnaytto:tulokset' kisa.nimi sarja.id %}" {% if sarja.id == tulokset.0.sarja.id %}class="selected"{% endif %}>{{sarja.nimi}}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% for tulos in tulokset %}
        <div style="border:1px solid gray; margin-bottom: 1em; padding: 10px">
            {% include "tulosnaytto/sarjanTulokset.html" %}
        </div>
    {% endfor %}

{% endblock %}

